[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

MemoryCaptures/

.vs/
.idea/
.gradle/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.dbAssets/CartoonTracksPack1/Track1/Textures/road_normal.png 
Assets/CartoonTracksPack1/Track1/Textures/road.psd 
Assets/AllSkyFree/Cold Sunset/Cold Sunset Equirect.png 
Assets/CartoonTracksPack1/Track1/Textures/garages.psd 
Assets/CartoonTracksPack1/Track1/Textures/road_normal.png
Assets/CartoonTracksPack1/Track1/Textures/road.psd
Assets/CartoonTracksPack1/Track1/Textures/garages.psd
Assets/AllSkyFree/Cold Sunset/Cold Sunset Equirect.png
Assets/CartoonTracksPack1/Track1/Textures/road.psd
Assets/CartoonTracksPack1/Track1/Textures/road_normal.png
Assets/CartoonTracksPack1/Track1/Textures/garages.psd
Assets/AllSkyFree/Cold Sunset/Cold Sunset Equirect.png
Assets/CartoonTracksPack1/Track1/Textures/road.psd
Assets/CartoonTracksPack1/Track1/Textures/road_normal.png
Assets/CartoonTracksPack1/Track1/Textures/garages.psd
Assets/CartoonTracksPack1/
Assets/AllSkyFree/
Assets/CartoonTracksPack1/
Assets/AllSkyFree/
Library/
Temp/
Obj/
Builds/
Logs/
